.Color {
    &__title {
        font-size: 20px;
        padding: 10px 0 7px 0;
        margin: 0 0 20px 20px;
        box-sizing: border-box;
        width: 100px;
        transition: all 0.5s ease;
        border-bottom: 2px solid #000;
        cursor: pointer;
        &:hover {
            width: calc(95%);
            transition: all 0.5s ease;
        }
    }
    &__group {
        display: flex;
        border-bottom: 1px dotted #ccc;
        margin-bottom: 20px;
    }
    &__group-title {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 20px;
        font-size: 17px;
    }
    &__container {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
    &__item {
        margin: 10px 15px;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        color: unset;
    }
}
