.Box {
    width: 80px;
    height: 80px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 3px 7px 0 rgba(110,142,247,.13);
    box-sizing: border-box;
    position: relative;
    transition: all 0.2s ease;
    &:hover {
        box-shadow: 0 3px 15px 0 rgba(110,142,247,.53);
    }
    &__color {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
    }
}
